html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size:15px;
  color: #797474;
  background: #fcfeff;
  line-height:25px;
}


.span {
  font-weight: bold;
  color:black;
}


.hero {
  background: url("images/bg.jpg");
  background-position:center center;
  background-size:cover;
  background-attachment: cover;
  padding:80px 80px 150px 80px;
  position:relative;
  color:#e2e2e2;
  font-weight:bold;
  margin:20px;

}

.hero::after {
  content: "";
  position:absolute;
  width: 100%;
  height: 100%;
  background:black;
  opacity: 0.4;
  z-index: 1;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

.herocontent {
  z-index:999;
  position:relative;
  max-width: 600px;

}

.herocontent h1 {
  color:white;
  font-size:40px;
   text-shadow: 0px 0px 4px rgba(38,16,10,0.9);
}

h1, h2, h3 {
  color:black;
}

a {
  text-decoration: none;
  color:#465653;

}

a:hover {
  color:#36a5de
}

a.button-blue {
  color:white;
  padding:10px 35px;
  border-radius:40px;
  display:inline-block;
  margin-top:15px;
  transition: all 0.3s;
  border:1px solid white;
}

a.button-blue:hover {
  border: 1px solid #465653;
  background:##465653;
  color:white;
}

ul.social {
  padding:0px;
}

ul.social > li {
    display: inline-block;
    margin: 4px;
}

ul.social > li a {
    font-size:2em
}

.row {
  display:flex;
}
.row .card {
  justify-content: space-between
  width 50%;
  border-bottom:6px solid #465653;
  text-align:left;
}

.row .card h2, h3 {

  font-size:40px;
  color:#024638;
}

.card.card-green {
  background:#465653;
  color: white;
}
.card.card-green h2, h3 {

  color: white;
}

.row .card:first-child {
  margin-right:20px;
}

.image-round {
  width:150px;
  border-radius:50%;
  margin:0 auto;
  border:6px solid white;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);    /* Light shadow */
  transition: all 0.3s;
}

.image-round:hover {
  transform: rotate(180deg);
  transition: all 0.3s;
}

.container {
  width:70%;
  margin:30px auto;
  margin-top:-60px;
  position:relative;
  z-index: 9999;

}

.card {
  background: white;                         /* White background */
  padding: 30px;                             /* Internal space */
  border-radius: 2px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);    /* Light shadow */
  text-align:center;
  width:100%;
  margin:10px auto;
  box-sizing: border-box;
}

.footer {
  background:#1b1b1b;
  padding:20px px;
  color:white;
  text-align:center;
  border-top:6px solid black;
  padding: 20px 20px;
  margin:20px;
}

.footer h2 {
  color:white;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {

  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 80%;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 100%;
  }
  .row .card {
    width:100%;
  }
  .row {
    display:inherit;
  }
}
